{% extends 'base.html' %}

{% block body %}
    <div class="page-of-text">
        <h1>About Us</h1>
        <p>
            In 2013, a landmark study estimated patient deaths in American hospitals due to preventable harm at over
            210,000 deaths per year<sup><a href="#fn1" id="ref1">1</a></sup>, roughly the number of American soldiers
            killed in the entire Vietnam War. Many
            studies put the death toll even higher. Led only by heart disease and cancer, it seems that hospitals are
            the third leading cause of death in the United States, surpassing stroke, diabetes, Alzheimer’s, and all
            other forms of accident<sup><a href="#fn2" id="ref2">2</a></sup>. Uncounted other patients are crippled or
            maimed every day due to preventable infections, medicinal side effects, and unnecessary surgeries.
        </p>
        <p>
            While the root causes of these issues are undoubtedly complex, we believe patients have a right to
            information. We aim to make choosing which hospital is best for you as clear as possible, based thousands of
            datasets made available under the Affordable Care Act. We’ll be with you all the way to the operating room.
        </p>
        <div class="footnotes">
            <sup id="fn1">
                1. CDC. Deaths and Mortality. 2015. http://www.cdc.gov/nchs/fastats/deaths.htm. Accessed July 1, 2015.
                <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a>
            </sup>
            <sup id="fn2">
                2. James JT. A New, Evidence-Based Estimate of Patient Harms Associated with Hospital Care. Journal of
                Patient Safety. 2013;9.
                <a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a>
            </sup>
        </div>
    </div>
{% endblock %}