{% load static %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "home.css" %}">
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

        <script type="text/javascript"
            src="{% static 'js/location_template.js' %}"></script>
    </head>

    <body>
        {% block header %}
            <header>
                <nav class="navbar navbar-default navbar-fixed-top ui-nav">
                    <div class="container-fluid ui-nav-container">
                        <a class="navbar-brand" href="/"><h2 class="ui-logo">InformedCare</h2></a>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'disclaimer' %}" class="ui-nav-link">Disclaimer</a></li>
                            <li><a href="{% url 'about' %}" class="ui-nav-link">About</a></li>
                            <li><a href="{% url 'contact' %}" class="ui-nav-link">Contact</a></li>
                        </ul>
                    </div>
                </nav>

            </header>
        {% endblock %}
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>hello friends</h1>
                    </div>
                </div>
            </div>
            Important stuff goes here
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>