{% extends 'base.html' %}

{% block body %}
    {% if message_sent %}
        <div class="page-of-text">
            Thanks for getting in touch. We'll get back to you soon.
        </div>
    {% else %}
        <div class="contact">
            <div class="contact-header">Contact Us</div>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label>Email</label>
                    <input type="email" class="email-box" columns="40" name="email">
                </div>
                <div>
                    <label>Message</label>
                    <textarea rows="20" name="message"></textarea>
                </div>
                <div class="send">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}