{% extends 'base.html' %}

{% block body %}
    <div class="headline">
        Some hospitals are outstanding.<br>We'll help you find them.
    </div>
    <div class="sub-headline">
        <ul>
            <li>
                fewest errors
            </li>
            <li>
                friendliest staff
            </li>
            <li>
                lowest price
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <a href="{% url 'disclaimer' %}">Disclaimer</a>
        &middot;
        <a href="{% url 'about' %}">About</a>
        &middot;
        <a href="{% url 'contact' %}">Contact</a>
    </div>
{% endblock %}