{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/><title>Test Page</title>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{#        <script type="text/javascript" src="{% static 'js/test_map.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'js/location_template.js' %}"></script>

    </head>
    <body>
        <div class="header">
            <div id="logo">
                Informed.Care
            </div>
            <div id="search-box">
                search box 1
            </div>
            <div id="search-box">
                search box 2
            </div>
            <div id="search-box">
                search box 3
            </div>
            <div id="search-box">
                search box 4
            </div>
        </div>
        <div class="results">
            {% for hospital in results %}
                <div class="hospital-result">
                    {{ forloop.counter }}. <a href="{% url 'hospital' id=hospital.id %}">{{ hospital.name.title }}</a>
                    <p>
                        Quality: {% if hospital.quality %}{{ hospital.round_quality }}{% else %}Unknown{% endif %}
                    </p>
                    <p>
                        Atmosphere: {% if hospital.atmosphere %}{{ hospital.round_atmosphere }}{% else %}Unknown{% endif %}
                    </p>
                    <p>
                        Price: {% if hospital.price %}{{ hospital.round_price }}{% else %}Unknown{% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="map">
            <div id="map-canvas" city="{{ selected_city }}" state="{{ selected_state }}"></div>
        </div>



        <div class="results-footer">Footer</div>
    </body>
</html>