{% extends 'base.html' %}

{% block body %}
        <div class="results">
            {% for hospital in results %}
                <div class="hospital-result">
                    <div>
                        <div id="hospital-index">
                            {{ forloop.counter }}.
                        </div>
                        <div id="hospital-name">
                            <a href="{% url 'hospital' id=hospital.id %}">{{ hospital.name.title }}</a>
                        </div>
                    </div>
                    <div class="hospital-result-data">
                        <div id="hospital-quality">
                            {% if hospital.quality %}{{ hospital.round_quality }}{% else %}?{% endif %}
                        </div>
                        <div id="value">
                            {% if hospital.atmosphere %}{{ hospital.round_atmosphere }}{% else %}Unknown{% endif %}
                        </div>
                        <div id="key">
                            Atmosphere
                        </div>
                        <br>
                        <div id="value">
                            {% if hospital.price %}{{ hospital.round_price }}{% else %}Unknown{% endif %}
                        </div>
                        <div id="key">
                            Price
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="map">
            <div id="map-canvas" city="{{ selected_city }}" state="{{ selected_state }}"></div>
        </div>

        <div class="results-footer">{# insert text here as needed #}</div>
{% endblock %}