{% extends 'base.html' %}

{% block body %}

    <form action="{% url 'search' %}" method="POST">
        <select name="state">
            <option value="any">Any</option>
            {% for state in states %}
                <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select>
        <select name="city">
            <option value="any">Any</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </form>

{% endblock %}