{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
        <title>Test Page</title>
    </head>
    <body>
        <div class="header">
            <div id="logo">
                Informed.Care
            </div>
            <div id="search-box">
                search box 1
            </div>
            <div id="search-box">
                search box 2
            </div>
            <div id="search-box">
                search box 3
            </div>
            <div id="search-box">
                search box 4
            </div>
        </div>
        <div class="results">
            <p>First result</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
            <p>Results</p>
        </div>
        <div class="map">
            Map
        </div>
        <div class="results-footer">Footer</div>
    </body>
</html>