/* general */

body {
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #1166FF;
}

a:hover{
    text-decoration: underline;
}

.page {
    float: left;
    width: 100%;
    margin-top: 4em;
}

/* header */

.header {
    color: white;
    background-color: #1166FF;
    position: fixed;
    height: 4em;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
    border: 0px;
}

#logo {
    color: white;
    display: inline-block;
    margin-top: 0.333em;
    margin-left: 0.5em;
    font-size: 2em;
}

#logo a {
    color: white;
    text-decoration: none;
}

#search-box {
    display: inline;
    margin-left: 1em;
}

#login-button {
    background-color: white;
    color: blue;
    float: right;
}

/* search results */

.results {
    float: left;
    width: 45%;
    margin-top: 4em;
}

.hospital-result {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2em;
}

#hospital-index {
    display: inline;
    color: grey;
    width: 2em;
}

#hospital-name {
    display: inline;
}

.hospital-result-data {
    display: inline-block;
}

#hospital-quality {
    display: inline-block;
    font-size: 2em;
    margin-left: 0.5em;
    margin-below: 0.1em;
    float: left;
}

#hospital-stats {
    display: inline-block;
    margin: 0px;
    float: left;
}

#key {
    display: inline;
    float: left;
}

#value {
    width: 2em;
    display: inline;
    float: left;
    margin-left: 1em;
}

.results-footer {
    text-size: 0.5em;
    clear: both;
    float: left;
    width: 50%;
}

/* map */

.map {
    float: right;
    width: 55%;
    height: 100%;
    background-color: yellow;
    margin-top: 4em;
    margin-left: 45%;
    position: fixed;
    border: 0px;
    display: block;
}

#map-canvas {
    height: 100%;
    width: 100%;
    background-color: #808080;
}
