/* header height = 10% */

body {
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #1166FF;
}

a:hover{
    text-decoration: underline;
}

#red {
    color: red;
	background-color: #3c4543;
}

.header {
    color: white;
    background-color: #1166FF;
    position: fixed;
    height: 4em;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
    border: 0px;
}

#logo {
    color: white;
    display: inline-block;
    margin-top: 0.333em;
    margin-left: 0.5em;
    font-size: 2em;
}

#logo a {
    color: white;
    text-decoration: none;
}

#search-box {
    display: inline;
    margin-left: 1em;
}

#login-button {
    background-color: white;
    color: blue;
    float: right;
}

.results-footer {
    text-size: 0.5em;
    clear: both;
    float: left;
    width: 50%;
    background-color: #23fa13;
}

.results {
    float: left;
    width: 45%;
    margin-top: 4em;
}

.hospital-result {
}

.map {
    float: right;
    width: 55%;
    height: 100%;
    background-color: yellow;
    margin-top: 4em;
    margin-left: 45%;
    position: fixed;
    border: 0px;
    display: block;
}

#map-canvas {
    height: 100%;
    width: 100%;
    background-color: #808080;
}